<html>
    <head>
        <title>Vue Basics</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <style>
            .one {
                color: green;
            }
            .two {
                text-decoration: line-through;
            }
            .canvas {
                width: 300px;
                height: 300px;
                margin-top: 20px;
                background: #dddddd;
            }
        </style>
    </head>
    <body>
        <h1>Vue Basics</h1>
        <div id="app">
            <h2>{{ title }}</h2>
            <p>{{ greet('morning') }}</p>
            <a :href="url">Youtube</a>
            <div :class="classes">Classes from Instance</div>
            <input type="text" :value="name">
            <p>I earn {{wage}} pound per hour.</p>
            <button v-on:click="changeWage(1)">Increase wage by £1</button>
            <button v-on:click="changeWage(-1)">Decrease wage by £1</button>
            <button v-on:dblclick="changeWage(5)">Increase wage by £5</button>
            <button v-on:dblclick="changeWage(-5)">Decrease wage by £5</button>
            <button @click="logEvent">log event info</button>
            <div class="canvas" @mousemove="logCoords">
                {{coords.x}}, {{coords.y}}
            </div>
            <input type="text" @keyup="updateName">
            <input type="text" @keypress="updateName">
            <input type="text" v-model="name">
            <p>My name is {{name}}</p>
            <button @click.alt="logMessage">alt-click me</button>
            <button @click.shift="logMessage">shift-click me</button>
            <a href="http://www.google.com" @click.prevent="logMessage">Google</a>
            <p v-if="showName">Mario</p>
            <p v-else-if="showAge">25</p>
            <button @click="toggleName">ShowName: {{showName}}</button>
            <button @click="toggleAge">ShowAge: {{showAge}}</button>
            <ul>
                <li v-for="item in items">{{item}}</li>
            </ul>
            <div v-for="(ninja, index) in ninjas">
                <p>{{index}}. name: {{ninja.name}}</p>
                <p>age: {{ninja.age}}</p>
                <p>belt color: {{ninja.belt}}</p>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>